openapi: 3.1.0
info:
  title: Figurinhas Copa 2026 GitHub Workflow API
  description: Dispara workflows no GitHub para adicionar ou remover figurinhas da coleção.
  version: 1.1.0

servers:
  - url: https://api.github.com

paths:
  /repos/RafaSartorel/figurinhas-copa-2026/actions/workflows/add-owned-stickers.yml/dispatches:
    post:
      operationId: dispatchAddOwnedStickersWorkflow
      summary: Adicionar figurinhas à coleção
      description: Dispara o workflow add-owned-stickers.yml para marcar figurinhas como tenho.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowDispatchRequest"
      responses:
        "204":
          description: Workflow de adição disparado com sucesso.

  /repos/RafaSartorel/figurinhas-copa-2026/actions/workflows/remove-owned-stickers.yml/dispatches:
    post:
      operationId: dispatchRemoveOwnedStickersWorkflow
      summary: Remover figurinhas da coleção
      description: Dispara o workflow remove-owned-stickers.yml para marcar figurinhas como não tenho.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowDispatchRequest"
      responses:
        "204":
          description: Workflow de remoção disparado com sucesso.

components:
  schemas:
    WorkflowDispatchRequest:
      type: object
      required:
        - ref
        - inputs
      properties:
        ref:
          type: string
          description: Branch ou ref onde o workflow será executado.
          example: main
        inputs:
          type: object
          required:
            - stickers
          properties:
            stickers:
              type: string
              description: Lista JSON, em string, com os IDs das figurinhas.
              example: "[\"BEL12\",\"SCO10\"]"
            source:
              type: string
              description: Origem da atualização.
              example: gpt_text
